nav
    a(class="logo", href="index.html") Node SSG
    ul 
        li
            a(href="about.html") About

        li
            a(href="contact.html") Contact

div(class="intro")
    h1 Hi! I'm Muco,
    p I have been specifically designed to become a digital home for designers and developers, help them build amazing professional looking websites with ease. You don't have to worry about nitty gritty of web hosting services to run a blog and yet take full advantage of CMS to manage content :)
            