:root {
    --color-primary-300: #517acc;
    --color-primary-400: #26499a;
    --color-primary-500: #001858;
    --color-primary-600: #00124b;
    --color-primary-700: #000d3f;

    --color-grey-300: #91a5cd;
    --color-grey-400: #63749b;
    --color-grey-500: #2e3a59;
    --color-grey-600: #212c4c;
    --color-grey-700: #172040;

    --main-font: "HK Grotesk";
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-grey-500);
    font-family: var(--main-font), sans-serif;
}

.container {
    width: 70rem;
    max-width: 90%;
    margin: 0 auto;

    header {
        border-bottom: 1px solid #dee8f6;

        .logo {
            font-weight: 900;
            color: var(--color-primary-500);
            text-decoration: none;
            font-size: 2rem;
        }
        nav {
            display: flex;
            justify-content: space-between;
            padding: 4rem 0 3rem 0;
        }

        nav ul {
            display: flex;
            list-style: none;
        }

        nav ul li {
            a {
                text-decoration: none;
                color: var(--color-grey-500);
                &:hover {
                    text-decoration: underline;
                    font-weight: 900;
                }
            }
            &:not(:last-child) {
                margin-right: 3rem;
            }
        }

        .intro {
            padding-bottom: 2rem;
        }
    }

    main {
        margin-top: 4rem;

        article {
            h3 {
                a {
                    color: var(--color-grey-500);
                    font-size: 4rem;
                    text-decoration: none;
                }

                &:hover a {
                    color: var(--color-grey-700);
                }
            }

            .article-date {
                margin: 1rem 0;
            }
            &:not(:first-child) {
                margin-top: 5rem;
            }
        }
    }

    main .post-content {
        .post-date {
            margin-bottom: 4rem;
            border: 1px solid red;
        }
        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2.8rem;
        }

        h4 {
            font-size: 2.3rem;
        }

        h5 {
            font-size: 2rem;
        }

        h6 {
            font-size: 1.6rem;
            font-weight: 700;
        }

        p,
        a,
        ul,
        ol,
        li {
            font-size: 1.8rem;
            line-height: 1.5;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        a,
        blockquote,
        q,
        hr {
            margin: 1rem 0;
        }

        ul,
        ol {
            margin: 0.5rem 2rem;
            margin-left: 4rem;
        }

        li {
            margin: 0.2rem 0;
        }

        blockquote {
            background-color: #dee8f6;
            border-left: 0.4em solid var(--color-primary-500);
            padding: 0.4rem 0;
            padding-left: 1.5rem;
            font-style: italic;
            a {
                font-size: inherit;
            }
        }

        a {
            font-weight: 900;
            color: var(--color-primary-500);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        /**
 * VS theme by Andrew Lock (https://andrewlock.net)
 * Inspired by Visual Studio syntax coloring
 */

        code[class*="language-"],
        pre[class*="language-"] {
            color: #393a34;
            font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New",
                Courier, monospace;
            direction: ltr;
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            font-size: 0.9em;
            line-height: 1.2em;

            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;

            -webkit-hyphens: none;
            -moz-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;
        }

        pre > code[class*="language-"] {
            font-size: 1em;
        }

        pre[class*="language-"]::-moz-selection,
        pre[class*="language-"] ::-moz-selection,
        code[class*="language-"]::-moz-selection,
        code[class*="language-"] ::-moz-selection {
            background: #c1def1;
        }

        pre[class*="language-"]::selection,
        pre[class*="language-"] ::selection,
        code[class*="language-"]::selection,
        code[class*="language-"] ::selection {
            background: #c1def1;
        }

        /* Code blocks */
        pre[class*="language-"],
        pre {
            padding: 1em;
            margin: 0.5em 0;
            overflow: auto;
            border: 1px solid #dddddd;
            background-color: white;
        }

        /* Inline code */
        :not(pre) > code[class*="language-"] {
            padding: 0.2em;
            padding-top: 1px;
            padding-bottom: 1px;
            background: #f8f8f8;
            border: 1px solid #dddddd;
        }

        .token.comment,
        .token.prolog,
        .token.doctype,
        .token.cdata {
            color: #008000;
            font-style: italic;
        }

        .token.namespace {
            opacity: 0.7;
        }

        .token.string {
            color: #a31515;
        }

        .token.punctuation,
        .token.operator {
            color: #393a34; /* no highlight */
        }

        .token.url,
        .token.symbol,
        .token.number,
        .token.boolean,
        .token.variable,
        .token.constant,
        .token.inserted {
            color: #36acaa;
        }

        .token.atrule,
        .token.keyword,
        .token.attr-value,
        .language-autohotkey .token.selector,
        .language-json .token.boolean,
        .language-json .token.number,
        code[class*="language-css"] {
            color: #0000ff;
        }

        .token.function {
            color: #393a34;
        }

        .token.deleted,
        .language-autohotkey .token.tag {
            color: #9a050f;
        }

        .token.selector,
        .language-autohotkey .token.keyword {
            color: #00009f;
        }

        .token.important,
        .token.bold {
            font-weight: bold;
        }

        .token.italic {
            font-style: italic;
        }

        .token.class-name,
        .language-json .token.property {
            color: #2b91af;
        }

        .token.tag,
        .token.selector {
            color: #800000;
        }

        .token.attr-name,
        .token.property,
        .token.regex,
        .token.entity {
            color: #ff0000;
        }

        .token.directive.tag .tag {
            background: #ffff00;
            color: #393a34;
        }

        /* overrides color-values for the Line Numbers plugin
  * http://prismjs.com/plugins/line-numbers/
  */
        .line-numbers .line-numbers-rows {
            border-right-color: #a5a5a5;
        }

        .line-numbers-rows > span:before {
            color: #2b91af;
        }

        /* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
        .line-highlight {
            background: rgba(193, 222, 241, 0.2);
            background: -webkit-linear-gradient(
                left,
                rgba(193, 222, 241, 0.2) 70%,
                rgba(221, 222, 241, 0)
            );
            background: linear-gradient(
                to right,
                rgba(193, 222, 241, 0.2) 70%,
                rgba(221, 222, 241, 0)
            );
        }
    }

    footer {
        text-align: center;
        margin: 4rem 0;
    }
}
