:root {
  --color-primary-300: #517acc;
  --color-primary-400: #26499a;
  --color-primary-500: #001858;
  --color-primary-600: #00124b;
  --color-primary-700: #000d3f;
  --color-grey-300: #91a5cd;
  --color-grey-400: #63749b;
  --color-grey-500: #2e3a59;
  --color-grey-600: #212c4c;
  --color-grey-700: #172040;
  --main-font: "HK Grotesk"; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-grey-500);
  font-family: var(--main-font), sans-serif; }

.container {
  width: 70rem;
  max-width: 90%;
  margin: 0 auto; }
  .container header {
    border-bottom: 1px solid #dee8f6; }
    .container header .logo {
      font-weight: 900;
      color: var(--color-primary-500);
      text-decoration: none;
      font-size: 2rem; }
    .container header nav {
      display: flex;
      justify-content: space-between;
      padding: 4rem 0 3rem 0; }
    .container header nav ul {
      display: flex;
      list-style: none; }
    .container header nav ul li a {
      text-decoration: none;
      color: var(--color-grey-500); }
      .container header nav ul li a:hover {
        text-decoration: underline;
        font-weight: 900; }
    .container header nav ul li:not(:last-child) {
      margin-right: 3rem; }
    .container header .intro {
      padding-bottom: 2rem; }
  .container main {
    margin-top: 4rem; }
    .container main article h3 a {
      color: var(--color-grey-500);
      font-size: 4rem;
      text-decoration: none; }
    .container main article h3:hover a {
      color: var(--color-grey-700); }
    .container main article .article-date {
      margin: 1rem 0; }
    .container main article:not(:first-child) {
      margin-top: 5rem; }
  .container main .post-content .post-date {
    margin-bottom: 4rem;
    border: 1px solid red; }
  .container main .post-content h1 {
    font-size: 4rem; }
  .container main .post-content h2 {
    font-size: 3rem; }
  .container main .post-content h3 {
    font-size: 2.8rem; }
  .container main .post-content h4 {
    font-size: 2.3rem; }
  .container main .post-content h5 {
    font-size: 2rem; }
  .container main .post-content h6 {
    font-size: 1.6rem;
    font-weight: 700; }
  .container main .post-content p,
  .container main .post-content a,
  .container main .post-content ul,
  .container main .post-content ol,
  .container main .post-content li {
    font-size: 1.8rem;
    line-height: 1.5; }
  .container main .post-content h1,
  .container main .post-content h2,
  .container main .post-content h3,
  .container main .post-content h4,
  .container main .post-content h5,
  .container main .post-content h6,
  .container main .post-content p,
  .container main .post-content a,
  .container main .post-content blockquote,
  .container main .post-content q,
  .container main .post-content hr {
    margin: 1rem 0; }
  .container main .post-content ul,
  .container main .post-content ol {
    margin: 0.5rem 2rem;
    margin-left: 4rem; }
  .container main .post-content li {
    margin: 0.2rem 0; }
  .container main .post-content blockquote {
    background-color: #dee8f6;
    border-left: 0.4em solid var(--color-primary-500);
    padding: 0.4rem 0;
    padding-left: 1.5rem;
    font-style: italic; }
    .container main .post-content blockquote a {
      font-size: inherit; }
  .container footer {
    text-align: center;
    margin: 4rem 0; }
