doctype html
html(lang="en")
   head 
    include includes/head.pug
    body    
        div(class="container")
            header
                include includes/header.pug

            main 
                h1 About me

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quibusdam eius qui aperiam dolores, aspernatur expedita eaque, fugiat perferendis, ullam quae! Delectus praesentium sit illum voluptatum unde voluptatem reprehenderit quibusdam?

                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem amet praesentium quis accusamus? Adipisci, quidem quaerat! Nam natus molestias iste cumque modi, incidunt minus asperiores praesentium ratione porro omnis eius.

            footer
                include includes/footer.pug