doctype html
html(lang="en")
   head 
    include includes/head.pug
    body    
        div(class="node-ssg")
            header
                include includes/header.pug

            h1 About Page
            footer
                include includes/footer.pug