doctype html
html(lang="en")
   head 
    include includes/head.pug
    body    
        div(class="container")
            header
                include includes/header.pug

            main
                h1 Contact me

                p If you would like to inquire about a new project, speaking engagements, chat about product design or just say a friendly hello, please feel free to reach via #[a(href="mailto:mucotresor@gmail.com") email].
            
            footer
                include includes/footer.pug