doctype html
html(lang="en")
   head 
    include includes/head.pug
    body    
        div(class="node-ssg")
            header
                include includes/header.pug

          
            main
                div(class="posts")
                    each post in posts
                        article

                            h3
                                - path = post.path 
                                a(href="blog/" + path) #{post.attributes.title}
                            p #{post.attributes.summary}
        footer
            include includes/footer.pug